@import 'tailwindcss';

.background {
	background-image: none;
	background-repeat: repeat;
	background-position: calc(var(--background-offset, 0%) * 1)
		calc(var(--background-offset, 0%) * 0.7);
	opacity: 0.15;
}

.title1 {
	position: absolute;
	top: 280px;
	left: 50%;
	max-width: initial;
}

.title2 {
	position: absolute;
	top: 550px;
	left: 50%;
	max-width: initial;
}

.title_information {
	top: 1200px !important;
	text-align: center;
	font-size: 40px;
	font-family: 'Noto Sans Japanese';
	font-weight: 900;
	color: #292819;
}

.intro1 {
	position: absolute;
	top: 160px;
	left: 50%;
	max-width: initial;
	transform: translateX(-50%) scale(0.5);
}

.intro2 {
	position: absolute;
	top: 330px;
	left: 50%;
	max-width: initial;
	transform: translateX(-50%) scale(0.5);
}

.intro_question_copyright_text {
	top: auto !important;
	left: 100px !important;
	right: 100px !important;
	bottom: 1180px !important;
	width: auto !important;
	height: auto !important;
	text-align: right;
	font-size: 20px;
	line-height: 1em;
	font-family: 'Noto Sans Japanese';
}

.intro_question {
	position: absolute;
	top: 750px !important;
	left: 100px !important;
	right: 100px !important;
	width: auto !important;
	height: 800px !important;
	bottom: auto !important;

	border: 5px solid #292819;
	background-color: white;
	text-align: center;
}

.intro_question_image_area {
	flex: 1 1 0;
	height: 0;
	padding: 20px;
	position: relative;
}

.intro_question_image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.intro_question_image_mask {
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 40%;
	border: 10px solid #f44336;
	background-color: #ffff50;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #f44336;
	font-family: 'Noto Sans Japanese';
	font-weight: 900;
	font-size: 50px;
}

.intro_question_text_area {
	flex: 0 0 140px;
	font-size: 70px;
	font-family: 'Noto Sans Japanese';
	font-weight: 900;
}

.quiz_title {
	position: absolute;
	top: 600px !important;
	left: 50% !important;
	right: auto !important;
	bottom: auto !important;
	width: 100% !important;
	height: auto !important;
	text-align: center;
	font-size: 180px;
	font-family: 'Noto Sans Japanese';
	transform-origin: center;
}

.quiz_difficulty {
	top: 300px !important;
	left: 250px !important;
	right: auto !important;
	bottom: auto !important;
	width: auto !important;
	height: auto !important;
	text-align: left;
	font-family: 'Noto Serif Japanese';
	font-size: 38px;
	color: #222;
	z-index: 0;
}

.quiz_difficulty::before {
	content: '';
	position: absolute;
	top: calc(100% - 15px);
	left: 0;
	/* right: calc(100% - var(--animation-ratio, 0%)); */
	right: 0;
	bottom: 5px;
	z-index: -1;
}

.quiz_difficulty.difficulty_1::before {
	background-color: rgb(185, 255, 200);
}

.quiz_difficulty.difficulty_2::before {
	background-color: rgb(244, 254, 108);
}

.quiz_difficulty.difficulty_3::before {
	background-color: rgb(249, 210, 158);
}

.quiz_difficulty.difficulty_4::before {
	background-color: rgb(255, 185, 185);
}

.quiz_difficulty.difficulty_5::before {
	background-color: rgb(255, 35, 35);
}

.quiz_id {
	top: 303px !important;
	right: 35px !important;
	width: auto !important;
	height: auto !important;
	text-align: right;
	font-family: 'Noto Sans Japanese';
	font-size: 38px;
	color: #222;
}

.quiz_text {
	display: block !important;
	top: 400px !important;
	left: 50px !important;
	right: 50px !important;
	width: auto !important;
	font-weight: bold;
	line-height: 1.5em;
	line-break: strict;
	font-family: 'Noto Sans Japanese';
	font-size: 60px;
	color: #222;
}

.quiz_clause {
	display: inline-block;
	position: relative;
	line-break: strict;
	clip-path: inset(0px var(--hidden-ratio) 0px 0px);
}

.quiz_volume {
	left: 50% !important;
	transform: translateX(-50%);
	background-color: black;
	text-align: center;
	color: #00ff00;
	font-family: 'Monaspace Neon';
}

.quiz_volume.quiz_volume_title {
	top: 1100px !important;
	width: 480px !important;
	height: 62px !important;
	font-size: 42px;
	line-height: 62px;
}

.quiz_volume.quiz_volume_quiz {
	top: 180px !important;
	width: 320px !important;
	height: 42px !important;
	font-size: 28px;
}

.countdown {
	top: 1200px !important;
	left: 50% !important;
	width: 600px !important;
	height: 600px !important;
	transform: translateX(-50%);
}

.countdown_number {
	top: 50% !important;
	left: 50% !important;
	width: 100% !important;
	height: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 260px;
	color: #333;
	font-family: 'Noto Sans Japanese';

	-webkit-text-stroke: 10px white;
	paint-order: stroke fill;
	z-index: 0;
}

.countdown_number::before {
	content: attr(data-second);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-text-stroke: 20px #333;
	z-index: -1;
}

.countdown_number::after {
	content: attr(data-second);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-text-stroke: 20px #333;
	transform: translate(5px, 5px);
	z-index: -2;
}

svg.countdown_circle circle {
	stroke: #333;
	stroke-width: 8;
	stroke-dasharray: calc(200 * 2 * pi * var(--ratio)) calc(200 * 2 * pi);
	transform: scaleX(-1) rotate(-90deg);
	transform-origin: center;
	fill: none;
}

.answer_text {
	text-align: center;
	transform-origin: center;
	justify-content: center;
	align-items: center;
}

.answer_text .main_answer {
	-webkit-text-stroke: 12px #292819;
	paint-order: stroke fill;
	font-family: 'M PLUS 1';
	color: #fcee21;
	font-size: 140px;
	line-height: 1em;
	z-index: 0;
}

.answer_text .alternative_answers {
	color: #292819;
	font-family: 'M PLUS 1';
	font-size: 50px;
	line-height: 1.2em;
	margin-top: 0.3em;
}

.answer_text_wrapper {
	top: 1250px !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 300px !important;
	width: 100% !important;
	height: auto !important;
}

.answer_image {
	position: absolute;
	top: 410px !important;
	left: 100px !important;
	right: 100px !important;
	width: auto !important;
	height: 700px !important;
	bottom: auto !important;

	border: 5px solid #292819;
	background-color: white;
	text-align: center;
	padding: 20px;
}

.answer_image_image_area {
	flex: 1 1 0;
	height: 0;
}

.answer_image_image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.answer_image_text_area {
	flex: 0 0 auto;
	font-size: 20px;
	line-height: 1.2em;
	font-family: 'Noto Sans Japanese';
	text-align: right;
}

.ending_text {
	position: absolute;
	top: 560px;
	left: 50%;
	max-width: initial;
}

.ending_information {
	top: 1100px !important;
	text-align: center;
	font-size: 40px;
	font-family: 'Noto Sans Japanese';
	font-weight: 900;
	color: #292819;
}
